<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>D.O.D</title>
<script src="https://www.gstatic.com/firebasejs/3.9.0/firebase.js"></script>
        <script>
          // Initialize Firebase
          var config = {
            apiKey: "AIzaSyDv1GhYP5BM97H6oIxzJ5y0DZjJbkc9EIA",
            authDomain: "projetx-c605d.firebaseapp.com",
            databaseURL: "https://projetx-c605d.firebaseio.com",
            projectId: "projetx-c605d",
            storageBucket: "projetx-c605d.appspot.com",
            messagingSenderId: "264325333963"
          };
          firebase.initializeApp(config);
        </script>
<script type="text/javascript">
      initApp = function() {
        firebase.auth().onAuthStateChanged(function(user) {
          if (user) {
            // User is signed in.
            var displayName = user.displayName;
            var email = user.email;
            var emailVerified = user.emailVerified;
            var photoURL = user.photoURL;
            var uid = user.uid;
            var providerData = user.providerData;
            user.getToken().then(function(accessToken) {
              document.getElementById('sign-in-status').textContent = 'Signed in';
              document.getElementById('sign-in').textContent = 'Sign out';
              document.getElementById('account-details').textContent = JSON.stringify({
                displayName: displayName,
                email: email,
                emailVerified: emailVerified,
                photoURL: photoURL,
                uid: uid,
                accessToken: accessToken,
                providerData: providerData
              }, null, '  ');
            });
          } else {
            // User is signed out.
            document.getElementById('sign-in-status').textContent = 'Signed out';
            document.getElementById('sign-in').textContent = 'Sign in';
            document.getElementById('account-details').textContent = 'null';
          }
        }, function(error) {
          console.log(error);
        });
      };

      window.addEventListener('load', function() {
        initApp()
      });
    </script>        
    <!-- Bootstrap Core CSS -->
    <link href="../vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <!-- Load Bootstrap RTL theme from CDNJS -->
    <link rel="stylesheet" href="//cdn.rawgit.com/morteza/bootstrap-rtl/master/dist/css/bootstrap-rtl.min.css">
    <!-- Custom Fonts -->
    <link href="../vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.6.4/css/bootstrap-datepicker.standalone.css" type="text/css" />
    <!-- Theme CSS -->
    <link href="../css/grayscale.min.css" rel="stylesheet">
    <link href="../css/style.css" rel="stylesheet">

    <link rel="stylesheet" href="style.css">
        

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>

    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>

    <![endif]-->

</head>

<body id="page-top" data-spy="scroll" data-target=".navbar-fixed-top">

    <!-- Navigation -->
    <nav class="navbar navbar-custom navbar-fixed-top" role="navigation">
        <div class="container">
            <div class="navbar-header navbar-headerrtl">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-main-collapse">
                Menu <i class="fa fa-bars"></i>
            </button>
                <a class="navbar-brand page-scroll" href="#page-top">
                    <i class="fa  fa-arrow-circle-up"></i> <span class="light">D.O.D</span> Home
                </a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse navbar-right navbar-main-collapse">
                <ul class="nav navbar-nav">
                    <!-- Hidden li included to remove active class from about link when scrolled up past about section -->
                    <li class="hidden">
                        <a href="#page-top"></a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>

    <!-- Intro Header -->
    <header class="intro">
        <div class="intro-body">
            <div class="container">
                <div class="row">
                    <div class="col-md-8">
                        <div class="container">
                            <!-- <h1>Welcome to My Awesome App</h1>
    <div id="sign-in-status"></div>
    <div id="sign-in"></div>
    <div id="account-details"></div>-->

                            <div class="modal-content stepsForm col-md-offset-2 col-md-8">
                                <div class="modal-body" id="myWizard">
                                    <div class="form-group">
                                        <label for="sel1"></label>
                                        <select onSelect="updateForm();" class="form-control" id="sel1">
                                        <option>בחר עסקה</option>
                                        <option>עסקה חדשה</option>
                                        <option>אורון - גן יבנה </option>
                                        <option>אורון - אשקלון</option>
                                      </select>
                                    </div>
                                    <div class="progress">
                                        <div class="progress-bar progress-bar-success " role="progressbar" aria-valuenow="1" aria-valuemin="1" aria-valuemax="4" style="width: 20%;">
                                            שלב 1 מתוך 5
                                        </div>
                                    </div>

                                    <div class="navbar">
                                        <div class="navbar-inner">
                                            <ul class="nav nav-pills">
                                                <li class="active"><a href="#step1" data-toggle="tab" data-step="1">שלב 1</a></li>
                                                <li><a href="#step2" data-toggle="tab" data-step="2">שלב 2</a></li>
                                                <li><a href="#step3" data-toggle="tab" data-step="3">שלב 3</a></li>
                                                <li><a href="#step4" data-toggle="tab" data-step="4">שלב 4</a></li>
                                                  <li><a href="#step5" data-toggle="tab" data-step="5">שלב 5</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="tab-content">
                                        <div class="tab-pane fade in active" id="step1">
                                            <div class="well stepsForm col-md-12">
                                                <div class="form-group col-md-6 ">
                                                    <!-- <label for="mocher_tz">:תז מוכר</label>-->
                                                    <input type="text" class="form-control" placeholder="תז מוכר:" name="mocher_tz" ng-model="formData.mocher_tz">
                                                </div>
                                                <div class="form-group col-md-6">
                                                    <!--<label for="mocher_name">:שם המוכר</label>-->
                                                    <input type="text" class="form-control" name="mocher_name" placeholder="שם מוכר:" ng-model="formData.mocher_name">
                                                </div>
                                                <div class="form-group col-md-6">
                                                    <!--<label for="mocher_ktovaet">:כתובת</label>-->
                                                    <input type="text" class="form-control" name="mocher_ktovaet" placeholder="כתובת:" ng-model="formData.mocher_ktovaet">
                                                </div>
                                                <div class="form-group col-md-6">
                                                    <!--<label for="phone">:טלפון נייד</label>-->
                                                    <input placeholder="טלפון נייד:" type="number" class="form-control" name="phone" ng-model="formData.phone">
                                                </div>
                                                <div class="form-group col-md-6">
                                                    <!--<label for="email">:דואר אלקטרוני</label>-->
                                                    <input type="email" placeholder="דואר אלקטרוני:" class="form-control" name="email" ng-model="formData.email">
                                                </div>
                                                <div class="form-group col-md-6">
                                                    <!--<label for="email">:דואר אלקטרוני</label>-->
                                                    <input type="fax" placeholder="פקס:" class="form-control" name="fax" ng-model="formData.fax">
                                                </div>
                                                <div class="form-group col-md-6">
                                                    <!--<label for="email">:דואר אלקטרוני</label>-->
                                                    <input type="part" placeholder="החלק בזכות: __/__" class="form-control" name="part" ng-model="formData.part">
                                                </div>
                                                <div class="form-group col-md-6">

                                                    <label class="radio-inline"><input type="radio" name="optradio">אני מוכר</label>
                                                    <label class="radio-inline"><input type="radio" name="optradio">אני קונה</label>
                                                </div>
                                            </div>
                                            <a class="btn btn-default next  col-md-4" href="#">עבור לשלב הבא</a>
                                        </div>
                                        <div class="tab-pane fade" id="step2">
                                            <div class="well stepsForm col-md-12">
                                                <div class="form-group col-md-6">
                                                    <!--   <label for="kone_tz">:תז מוכר</label>-->
                                                    <input placeholder="תז רוכש:" type="text" class="form-control" name="kone_tz" ng-model="formData.kone_tz">
                                                </div>
                                                <div class="form-group col-md-6">
                                                    <!-- <label for="kone_name">:שם הרוכש</label>-->
                                                    <input type="text" class="form-control" placeholder="שם הרוכש:" name="kone_name" ng-model="formData.kone_name">
                                                </div>
                                                <div class="form-group col-md-6">
                                                    <!--<label for="kone_ktovaet">:כתובת</label>-->
                                                    <input type="text" class="form-control" placeholder="כתובת:" name="kone_ktovaet" ng-model="formData.kone_ktovaet">
                                                </div>
                                                <div class="form-group col-md-6">
                                                    <!--<label for="kone_phone">:טלפון נייד</label>-->
                                                    <input type="text" placeholder="טלפון נייד:" class="form-control" name="kone_phone" ng-model="formData.kone_phone">
                                                </div>
                                                <div class="form-group col-md-6">
                                                    <!--<label for="kone_email">:דואר אלקטרוני</label>-->
                                                    <input type="text" placeholder="דואר אלקטרוני:" class="form-control" name="kone_email" ng-model="formData.kone_email">
                                                </div>
                                                <div class="form-group col-md-6">
                                                    <!--<label for="email">:דואר אלקטרוני</label>-->
                                                    <input type="kone_fax" placeholder="פקס:" class="form-control" name="fax" ng-model="formData.kone_fax">
                                                </div>
                                                <div class="form-group col-md-6">
                                                    <!--<label for="email">:דואר אלקטרוני</label>-->
                                                    <input type="kone_part" placeholder="החלק בזכות: __/_/" class="form-control" name="kone_part" ng-model="formData.part">
                                                </div>
                                            </div>
                                            <a class="btn btn-default  col-md-4 next" href="#">עבור לשלב הבא</a>
                                        </div>
                                        <div class="tab-pane fade" id="step3">
                                            <div class="well stepsForm col-md-12">
                                                <div class="form-group col-md-6">
                                                    <!--<label for="maskanta"></label>-->
                                                    <select onSelect="maskanta()" class="form-control" id="maskanta">
                                                    <option>יש משכנתא</option>
                                                    <option>אין משכנתא</option>
                                                    </select>
                                                </div>
                                                <div class="form-group col-md-6">
                                                    <!--    <label for="eska_pkida_bankNum">:מספר בנק </label>-->
                                                    <input type="text" class="form-control" placeholder="מספר בנק:" name="eska_pkida_bankNum" ng-model="formData.eska_pkida_bankNum">
                                                </div>
                                                <div class="form-group col-md-6">
                                                    <!--<label for="eska_pkida_bankNumsSnif">:מספר סניף </label>-->
                                                    <input type="text" class="form-control" placeholder="מספר סניף:" name="eska_pkida_bankNumsSnif" ng-model="formData.eska_pkida_bankNumsSnif">
                                                </div>
                                                <div class="form-group col-md-6">
                                                    <!--<label for="eska_pkida_name">:שם בנקאית מטפלת</label>-->
                                                    <input placeholder="שם בנקאית מטפלת:" type="text" class="form-control" name="eska_pkida_name" ng-model="formData.eska_pkida_name">
                                                </div>
                                                <div class="form-group col-md-6">
                                                    <!-- <label for="eska_email">:דואר אלקטרוני</label>-->
                                                    <input type="text" class="form-control" placeholder="דואר אלקטרוני:" name="eska_email" ng-model="formData.eska_email">
                                                </div>
                                                <div class="form-group col-md-6">
                                                    <!--<label for="eska_phone">:טלפון </label>-->
                                                    <input placeholder="טלפון:" type="text" class="form-control" name="eska_phone" ng-model="formData.eska_phone">
                                                </div>
                                                <div class="form-group col-md-6">
                                                    <!--<label for="eska_fax">:פקס </label>-->
                                                    <input placeholder="פקס:" type="text" class="form-control" name="eska_fax" ng-model="formData.eska_fax">
                                                </div>
                                                <div class="form-group col-md-6">
                                                    <!--<label for="eska_fax">:פקס </label>-->
                                                    <input placeholder="יתרת משכנתא:" type="text" class="form-control" name="eska_itraMash" ng-model="formData.eska_itraMash">
                                                </div>
                                                <hr style="width: 100%; color: black; height: 1px; background-color:black;" />
                                                <div class="form-group col-md-6">
                                                    <!--<label for="nechs"></label>-->
                                                    <select onSelect="nechs()" class="form-control" id="nechs">
                                        <option>מצב הנכס</option>
                                        <option>הנכס רשום בטאבו</option>
                                        <option>מנהל מקרקעי ישראל </option>
                                        <option>החברה המשכנת</option>
                                      </select>
                                                </div>
                                                <div class="form-group col-md-6">
                                                    <!--<label for="eskaeskaStep1_gosh">:גוש</label>-->
                                                    <input id="gosh" type="text" placeholder="מספר גוש:" class="form-control" name="eskaeskaStep1_gosh" ng-model="formData.eskaeskaStep1_gosh">
                                                </div>
                                                <div class="form-group col-md-6">
                                                    <!--<label for="eskaeskaStep1_helaka">:חלקה</label>-->
                                                    <input id="hilka" type="text" class="form-control" placeholder="מספר חלקה:" name="eskaeskaStep1_helaka" ng-model="formData.eskaeskaStep1_helaka">
                                                </div>
                                                <div class="form-group col-md-6">
                                                    <!--<label for="eskaeskaStep1_tathelaka">:תת חלקה</label>-->
                                                    <input type="text" placeholder="תת חלקה:" ng-change="checkstatusNasah()" class="form-control" name="eskaeskaStep1_tathelaka" ng-model="formData.eskaeskaStep1_tathelaka">
                                                </div>
                                            </div>
                                            <a class="btn btn-default  col-md-4 next" href="#">המשך לשלב הבא</a>
                                        </div>
                                        <div class="tab-pane fade" id="step4">


                                            <div class="well stepsForm col-md-12">
                                                <div class="form-group col-md-12">
                                                    <input type="text" placeholder="סכום העסקה:" class="form-control col-md-4" name="eskaeskaStep_SCHOM" ng-model="formData.eskaeskaStep_SCHOM">
                                                </div>
                                                <hr style="width: 100%; color: black; height: 1px; background-color:black;" />
                                                <div id="education_fields"> </div>
                                                <div class="form-group col-md-6">
                                                    <input type="text" class="form-control" id="schom" name="schom" value="" placeholder="סכום:">
                                                </div>
                                                <div class="checkbox col-md-4">
                                                    <label><input type="checkbox" value="">כנגד מכתב כוונות</label>
                                                </div>
                                                <div class="input-group">
                                                    <div class="input-group-btn">
                                                        <button class="btn btn-success" type="button" onclick="education_fields();"> <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> </button>
                                                    </div>
                                                </div>


                                            </div>
                                        
                                            <a class="btn btn-default  col-md-4 next" href="#">עבור לשלב הבא</a>
                                        </div>
                                        <div class="tab-pane fade" id="step5">
                                        <div class="well stepsForm col-md-12">
                                            <div class="container col-md-12">
                                                <div class="panel panel-default">
                                                    <div class="panel-heading"><strong>Upload Files</strong> <small>Bootstrap files upload</small></div>
                                                    <div class="panel-body">

                                                        <!-- Standar Form -->
                                                        <h4>Select files from your computer</h4>
                                                        <form action="" method="post" enctype="multipart/form-data" id="js-upload-form">
                                                            <div class="form-inline">
                                                                <div class="form-group">
                                                                    <input type="file" name="files[]" id="js-upload-files" multiple>
                                                                </div>
                                                                <button type="submit" class="btn btn-sm btn-primary" id="js-upload-submit">Upload files</button>
                                                            </div>
                                                        </form>

                                                        <!-- Drop Zone -->
                                                        <h4>Or drag and drop files below</h4>
                                                        <div class="upload-drop-zone" id="drop-zone">
                                                            Just drag and drop files here
                                                        </div>

                                                        <!-- Progress Bar -->
                                                        <div class="progress">
                                                            <div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%;">
                                                                <span class="sr-only">60% Complete</span>
                                                            </div>
                                                        </div>

                                                        <!-- Upload Finished -->
                                                        <div class="js-upload-finished">
                                                            <h3>Processed files</h3>
                                                            <div class="list-group">
                                                                <a href="#" class="list-group-item list-group-item-success"><span class="badge alert-success pull-right">Success</span>image-01.jpg</a>
                                                                <a href="#" class="list-group-item list-group-item-success"><span class="badge alert-success pull-right">Success</span>image-02.jpg</a>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            </div>
                                            <!-- /container -->
                                        </div>
                                        <div class="modal-footer ">

                                        </div>
                                    </div>
                                </div>



                            </div>




                        </div>
                    </div>
                </div>
    </header>


    <!-- About Section -->

    <!-- Footer -->
    <footer>
        <div class="container text-center">
            <p>Copyright &copy; Oron Sites 2016</p>
        </div>
    </footer>



    <!-- jQuery -->
    <script src="../vendor/jquery/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="../vendor/bootstrap/js/bootstrap.min.js"></script>

    <!-- Plugin JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"></script>

    <!-- Google Maps API Key - Use your own API key to enable the map feature. More information on the Google Maps API can be found at https://developers.google.com/maps/ -->
    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCRngKslUGJTlibkQ3FkfTxj3Xss1UlZDA&sensor=false"></script>

    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.6.4/js/bootstrap-datepicker.js"></script>
    <!-- Theme JavaScript -->
    <script src="../js/grayscale.min.js"></script>
    <script src="buyS.script.js"></script>

</body>

</html>
